/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: ;
    --page-title-color: #db00ff;
    --page-font-color: #f1b2ce;
    --accent-color: #ff0070;
    --hover-button-color: ;
    --background-image: url(../images/cover-image-dark.png);
    /* <<<------ REUSE ------>>> */
    --button-color: var();
    --border-color: var();
    --text-shadow: ;
    --page-title-shadow: var();
    --section-title-color: var();
    --article-title-color: var();
    --article-title-background: var();
    --box-shadow: var();
    --link-shadow: var();
  }
}

:root.theme-dark {
  --page-background: ;
  --page-title-color: #db00ff;
  --page-font-color: #f1b2ce;
  --accent-color: #ff0070;
  --hover-button-color: ;
  --background-image: url(../images/cover-image-dark.png);
  /* <<<------ REUSE ------>>> */
  --button-color: var();
  --border-color: var();
  --text-shadow: ;
  --page-title-shadow: var();
  --section-title-color: var();
  --article-title-color: var();
  --article-title-background: var();
  --box-shadow: var();
  --link-shadow: var();
}

/* :root.theme-dark .top-bar-rec {
  display: none;
} */
