/* <<<------ GLOBAL STYLES ------>>> */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*ADDED*/
html {
  block-size: 100%;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  /*ADDED*/
  block-size: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
