@media (prefers-color-scheme: light) {
  :root {
    /* <<<------ main color accent ------>>> */
    --accent-color: #ff8dcb;
    /* fonts */
    --page-font-color: #353430;
    --page-title-color: #ffc2e6;
    --page-title-shadow: var(--accent-color);
    --section-title-color: var(--page-font-color);
    --article-title-color: #000028;
    --article-title-background: var(--accent-color);
    /* <<<------ design & decoration ------>>> */
    --page-background-color: #fff1f7;
    --page-background-image: url(../images/cover-image-light.png);
    --box-shadow: var(--accent-color);
    --link-shadow: var(--accent-color);
    --border-color: var(--page-font-color);
    --border-color-hover: rgba(50, 49, 45, 0.4);
    --button-color: var(--page-font-color);

    .top-bar-rec {
      display: none;
    }
  }
}

:root.theme-light {
  /* <<<------ main color accent ------>>> */
  --accent-color: #ff8dcb;
  /* fonts */
  --page-font-color: #353430;
  --page-title-color: #ffc2e6;
  --page-title-shadow: var(--accent-color);
  --section-title-color: var(--page-font-color);
  --article-title-color: #000028;
  --article-title-background: var(--accent-color);
  /* <<<------ design & decoration ------>>> */
  --page-background-color: #fff1f7;
  --page-background-image: url(../images/cover-image-light.png);
  --box-shadow: var(--accent-color);
  --link-shadow: var(--accent-color);
  --border-color: var(--page-font-color);
  --border-color-hover: rgba(50, 49, 45, 0.4);
  --button-color: var(--page-font-color);

  .top-bar-rec {
    display: none;
  }
}
